<a href="https://colab.research.google.com/github/itz-jayesh/Adnavce-Python-1/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(x,y):
  c=x+y
  return c

In [34]:
add1 =add(10,19)
add1

29

In [ ]:
## Varidic function(able to add more than given variables)

Varidic function

In [ ]:
add(10,10,20)

TypeError: add() takes 2 positional arguments but 3 were given

In [61]:
## Varidic function(able to add more than given variables)

def add2(*args):
  s = 0
  for i in args:
    s = s+i
  return s

In [27]:
s1=add2(10,32,43,10)
s1

95

In [35]:
def multiply(x,*args):
    """
    Inputs: X and multiple arguments
    Output: Returns a welcome statement along with product of given arguments
    """
    welcome = f"Welcome {x}"
    p = 1
    for i in args:
        p = i*p
    return f"{welcome}. Product of given data is {p}"
    #return f"welcome {x}.Product of given data is {p}".

In [36]:
m1 = multiply("raman",89,39,38)

In [37]:

m1

'Welcome raman. Product of given data is 131898'


I have employee data with me. Emp ids and empnames are stored in lists.I want to update their department details , let's assume IT department.

In [38]:

employee1 = [101,"Raman"]
employee2 = [102,"Thaman"]
employee3 = [103,"Suman"]

In [39]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [41]:
add_dept(employee1,employee2,employee3)

In [42]:
employee1

[101, 'Raman', 'IT', 'IT']

In [43]:
employee2

[102, 'Thaman', 'IT', 'IT']

In [45]:
employee3

[103, 'Suman', 'IT', 'IT']

Keyword arguments **kwargs

In [46]:
add(10,20)

30

In [47]:
add(x=69,y=69)

138

In [48]:
## kwargs stands for "keyword arguments".
## The ** in front of kwargs means:
## “Accept any number of keyword arguments as a dictionary.”

def func(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [49]:
func(id=101,dept="hr")

<class 'dict'>
dict_items([('id', 101), ('dept', 'hr')])

In [50]:
def func2(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [51]:
func2(ids=[101,201,301],depts=("hr","sales","marketing"))

dict_keys(['ids', 'depts'])
dict_values([[101, 201, 301], ('hr', 'sales', 'marketing')])

Write a function that returns the length of input items passed to it

In [58]:
employee1 = [101,"Raman","it"]
employee2 = [102,"Thaman",6000,"HR"]
employee3 = [103,"Suman"]

In [59]:
def len_data(**kwargs):
    dct = {}
    for key,data in kwargs.items():
        dct[key] = len(data)
        # dct[emp1]=len(employee1)
        # dct[emp2]=len(employee2)
        # dct[emp3] = len(employee3)
    return dct
    # dct.items() : ((emp1,3),(emp2,4),(emp3,5))

In [60]:
len_data(emp1=employee1,emp2=employee2,emp3=employee3)

{'emp1': 3, 'emp2': 4, 'emp3': 2}